.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79031d;
  height: 90vh;
  flex-direction: column;
}

#WoR {
  margin-right: 40px;
}

#Programz {
  margin-right: 40px;
}

#Calz {
  margin-left: 80px;
}

#Program {
  margin-left: 90px;
}
