.header-dashboard {
  background-color: #000407;
  font-family: Oswald;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.right {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.dashboard-nav-link {
  margin-right: 20px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #e2e2e2;
  text-decoration: none;
}

.dashboard-nav-link:hover {
  color: #c4c2c2;
}
